# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environments
.env
*.env

# VSCode
.vscode/

# Virtualenv
venv/
env/
ENV/

# Node (si usas npm/webpack)
node_modules/

# macOS
.DS_Store

# PyCharm
.idea/